body {
    background-color: #212529;
}

.buscar {
    padding-bottom: 50px;
}

.texto {
    padding-top: 10px;
}


/*############################## Modal ####################################################*/

.modal-footer {
    border-top: 1px solid #212529;
}