body {
    background-color: #212529;
    /* background-image: url(./img/IMG_4291.jpg); */
    background-position: center center;
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 0px!important;
}

.buscar {
    padding-bottom: 50px;
}

.texto {
    padding-top: 10px;
}


/*############################## Modal ####################################################*/

.modal-footer {
    border-top: 1px solid #212529;
}